* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

:root {
	--primary: #29a8ff;
	--primary-2: #339dff;
	--secondary: #303136;
	--seconday-dark: #17181a;
	--dark: #818181;
	--medium: #616161;
	--light: #a5a5a5;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
